<!doctype html>
<html lang="">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="apple-touch-icon" href="icon.png">
		<link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
		<body bgcolor= '#edb879'>
		<header>
			<h1>Which type of servicing you want?</h1>
		</header>
		<main>
    <embed name="CatSound" src="../sound/meow.mp3" loop="infinite" hidden="true" autostart="true">
      <div class="navigation"><a href="index.html"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
      <button class="btn"><i class="fa fa-close"></i> Close</button>
      </div>
      <div class="score_board">
        <label for="score">Select</label>
        <input type="text" class="screen" value="0" disabled>
      </div>
			<div class="sound"><h2>"Service Here"</h2></div>
				<div class="cards_container">
					<div class="card">
					<div class="card_image"><img src="../images/category/pickup1.jpg" alt="normal" id="cat" class="cat">
					</div>
					<div class="card_label"><p>Normal Servicing</p>
					</div>
					</div>
				<div class="card">
					<div class="card_image"><img src="../images/category/reserve1.jpg" alt="standard">
					</div>
						<div class="card_label"><p>standard servicing</p>
					</div>
				</div>
				<div class="card">
					<div class="card_image"><img src="../images/category/servicing1.jpg" alt="premium">
					</div>
						<div class="card_label"><p>premium servicing</p>
					</div>
				</div>
				<div class="card">
					<div class="card_image"><img src="../images/category/tune1.jpg" alt="Deluxe">
					</div>
						<div class="card_label"><p>Deluxe servicing</p>
					</div>
				</div>
			</div>



			</main>
		<script src="../js/quiz.js"></script>
	</body>

</html>
