<html>
<head>
  <title> Upgrades</title>
  <link rel="stylesheet" href="../styles/styl.css">
  </head>
  <body>
    <div class='main'
    <nav>
       <div class='logo'>
         <img src='images/logo.png'>
       </div>
       <div class=' nav-links'>
         <ul>
           <li><a href='#'>Home</a></li>
           <li><a href='#'>Servicing</a></li>
           <li><a href='#'>Pickup and dropoff</a></li>
           <li><a href='#'>Booking</a></li>
         </ul>
       </div>
     </nav>
     <div class= 'information'>
       <div id ='circle'>
         <div class= 'feature one '>
            <img src= 'images/light.png'>
          <div>
          <h1> Neon lights<h1>
            <p> blue,violet,red,green</p>
    </div>
  </div>
         <div class= 'feature two'>
             <img src= 'images/interior.png'>
             <div>
             <h1> Interior<h1>
               <p> leather,plastic,cotton</p>
             </div>
           </div>
         <div class= 'feature three'>
              <img src= 'images/exterior.png'>
              <div>
              <h1> Exterior<h1>
                <p> carbon,metal,body kits</p>
              </div>
            </div>
         <div class= 'feature four '>
               <img src= 'images/performance.png'
               <div>
               <h1> Performance<h1>
                 <p> tune,upgrade,transmission</p>
               </div>
             </div>
       </div>
     </div>

   </div>
  </body>
  </html>
